body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header {
    font-size: 50px;
    font-family: "Rubik Bubbles", cursive;
    color: yellow;
    display: flex;
    justify-content: center;
}

#gameboard {
    width: 500px;
    display: grid;
    justify-content: center;
    border: dotted yellow;

}

.rectangle {
    width: 500px;
    height: 125px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.circle {
    border: 1px black solid;
    height: 100px;
    background: gray;
    border-radius: 100%;
    margin: 0 auto;
    margin-top:10px;
    width: 100px;
    display: inline-block;
}

.colorbank {
    background-color: yellow;

}

#pink {
    background-color: #FC03B6;

}

#green {
   background-color: #03FC0B
}

#teal {
   background-color: #03F8FC
}

#blue {
   background-color: #1703FC
}

button {

    margin: auto;
    background-color: darkgrey;

}

button:hover {
    color: white;
    background-color: darkblue;
}

